<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
	<ul class="unstyled list-unstyled">
		<% _.each(events, function(event) { 
			var d = "/Date("+event.start+")/";
			var start = new Date(parseFloat(d.substr(6)));
			d = "/Date("+event.end+")/";
			var end = new Date(parseFloat(d.substr(6)));
			%>
			<li>
				<span class="pull-left event <%= event['class'] %>"></span>&nbsp;
				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>"
					data-event-class="<%= event['class'] %>" class="event-item">
					<b><%= event.title %></b> <%= start.getDate()+'/'+(start.getMonth()+1)+'/'+start.getFullYear()+' '+start.getHours()+':'+addZero(start.getMinutes()) %> - <%= end.getDate()+'/'+(end.getMonth()+1)+'/'+end.getFullYear()+' '+end.getHours()+':'+addZero(end.getMinutes()) %></a>
			</li>
		<% }) %>
	</ul>
</div>
